<!DOCTYPE html>
<html lang="en">

<head>
		<title>NYT mongo scraper</title>
	<meta charset="UTF-8">

	{{!-- Materialize --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- Materialize icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text|Literata&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{{ body }}}
	<script src="/script/app.js"></script>
</body>

</html>