/* @import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap'); */

body{
    background:
    url('../images/001.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;

  
    background-size:cover;

    font-family: 'DM Serif Text', serif;
    /* font-family: 'Literata', serif; */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   }


 main {
    flex: 1 0 auto;
  }

.blankArea{
    padding-bottom: 300px;
}

